librosa # Added for minicpm-o-2_6
vector_quantize_pytorch # Added for minicpm-o-2_6
vocos # Added for minicpm-o-2_6

# Added for qwen2.5
qwen_vl_utils
autoawq>=0.1.8

# Added for ovis quantized models
# gptqmodel
